.main-container {
    display: flex;
    flex-direction: column;
    height: 88vh;
    padding: 20px;
}

.game-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-around;
    width: 100%;
}

.player,
.enemy {
    font-size: x-large;
    font-family: monospace;
    display: flex;
    align-items: center;
}

.green {
    color: green;
    margin: 0 0.5em 0 0;
}


.red {
    color: red;
    margin: 0 0.5em 0 0;
}

h1 {
    font-family: fantasy;
    color: white;
    text-align: center;
}