.center {
    color: white;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
    align-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fire {
    border: red solid 10px;
    background: orange;
}

.restart {
    border: white solid 10px;
    background: black;
}