.center {
    color: white;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
    align-content: center;
}

.fire {
    border: red solid 10px;
    background: orange;
}

.restart {
    border: white solid 10px;
    background: black;
}